@model projeoneritakipsistemi.Models.ogrenci

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ogrenci</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bolum.bolum_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bolum.bolum_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fakulte.fakulte_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fakulte.fakulte_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ogrenci_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ogrenci_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ogrenci_soyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ogrenci_soyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ogrenci_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ogrenci_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ogrenci_resimurl)
        </dt>

        <dd>


            <a href="@Html.Raw(Model.ogrenci_resimurl)"> <img src="@Html.Raw(Model.ogrenci_resimurl)" width="400" height="400" /></a>

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ogrenci_adresi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ogrenci_adresi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ogrenci_tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ogrenci_tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ogrenci_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ogrenci_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ogrenci_tc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ogrenci_tc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ogrenci_kullanici_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ogrenci_kullanici_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ogrenci_parola)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ogrenci_parola)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ogrenci_sinif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ogrenci_sinif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calısma_grub_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calısma_grub_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kayit_tarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kayit_tarihi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ogrenci_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
