@model IEnumerable<projeoneritakipsistemi.Models.proje>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "projearama";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .geriicon {
            padding: 90px;
            background: transparent url('../../resimler/geri_icon.png');
        }

        .ileriicon {
            padding: 90px;
            background: transparent url('../../resimler/ileriicon.png');
        }
     td{

         word-wrap: break-word;
     }   
   
    .loader {
	    position: fixed;
	    left: 0px;
	    top: 0px;
	    width: 100%;
	    height: 100%;
	    z-index: 9999;
	    background: url('../../gif/loader.gif') 50% 50% no-repeat rgb(249,249,249);
    }

    </style>

</head>
<body id="@User.Identity.GetUserName()">
    <div class="loader">

    </div>   
    <table style="margin-top:50px">

        <tr>
            <td>
                <p style="margin-left:400px;font-size:20px;font-weight:bold">
                    Lütfen Arama Yapmak İstediginiz Kategori Secin&nbsp;&nbsp;&nbsp;:
                    @Html.DropDownList("neyegore", (new List<SelectListItem>() { new SelectListItem { Text = "Proje adina göre Arama yap", Selected = false, Value = "proje_adi" }, new SelectListItem { Text = "Poje Turune göre Arama Yap", Selected = false, Value = "proje_turu" } }))
                </p><br />
            </td>

        </tr>
     
        <tr>
            @*<td>

                    @Html.Label("aramak istediginiz anahtar kelimeyi  giriniz...")

                </td>*@
            <td valign="top">
                <p style="font-size:20px;margin-left:400px;font-weight:bold">
                    Lütfen Aranacak Proje İle ilgili Bilgiyi Giriniz&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:

                    @Html.TextBox("arama1", null, new { @placeholder = "Aranacak proje bilgisini giriniz" })  <img id="yorumloader" hidden width="30" height="30" src="~/gif/loader.gif" />
                </p>
                <div id="myData">
                   
                   
                    <table border="1" style="position:page" >
                        <tr style="position:absolute">



                            @if (Model != null)
                            {
                                int i = 0;
                                foreach (var item in Model)
                                {

                                    i++;
                                    if (i % 5 != 0)
                                    {


                                        <td style="max-width:400px">
                                                                                   
                                            <div>
                                                
                                                <table class="table"  style=" table-layout: fixed; width: 100%">
                                                    <tr>
                                                        <th colspan="2">
                                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;@Html.ActionLink("Daha Detaylı Bilgi İçin Tıkla", "Details", new { id = item.proje_id })
                                                            <br />

                                                          
                                                         
                                                        </th>
                                                    </tr>

                                                      @if (item.proje_adi.Length >= 20)
                                                    {
                                                        <tr> <th>
                                                                 @Html.Label("Proje Adı")
                                                                 
                                                        </th>
                                                            <td>
                                                                <marquee style="width:100%" SCROLLDELAY=200>@item.proje_adi</marquee>
                                                            </td>
                                                        </tr>
                                                      }
                                                      else
                                                      {
                                                        <tr>
                                                            <th>
                                                                @Html.Label("Proje Adı")

                                                            </th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.proje_adi)
                                                            </td>
                                                            </tr>
                                                            }
                                                            @*<tr>
                                                                    <th>
                                                                        @Html.Label("begeni sayısı", new { @id="beg"})
                                                                    </th>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.proje_begeni_sayisi)
                                                                    </td>
                                                                </tr>*@
                                                            @if (item.proje_durumu.Length > 20)
                                                            {
<tr> <th>
                                                            @Html.Label("proje durumu")
                                                        </th>
                                                            <td>
                                                                <marquee style="width:100%" SCROLLDELAY=200>@item.proje_durumu</marquee>
                                                            </td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                    <tr>
                                                        <th>
                                                            @Html.Label("proje durumu")
                                                        </th>
                                                        <td >
                                                            @Html.DisplayFor(modelItem => item.proje_durumu)
                                                        </td>
                                                    </tr>
                                                    }


                                                    <tr>

                                                        <th>

                                                            @Html.Label("Teslim Tarihi")
                                                        </th>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.proje_teslim_tarihi)
                                                        </td>
                                                    </tr>


                                                     @if (item.proje_turu.Length >= 20)
                                                     {
                                                        <tr> <th>
                                                                 @Html.Label("Proje Türü")
                                                                 
                                                        </th>
                                                            <td>
                                                                <marquee style="width:100%" SCROLLDELAY=200>@item.proje_turu</marquee>
                                                            </td>
                                                        </tr>
                                                     }
                                                     else
                                                     {

                                                    <tr>
                                                        <th>
                                                            @Html.Label("Proje türü")
                                                        </th>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.proje_turu)
                                                        </td>
                                                    </tr>
                                                     }
                                                    @if (item.proje_aciklamasi.Length >= 20)
                                                    {
                                                        <tr>
                                                            <th>
                                                                @Html.Label("Proje Hakkında Açıklama")

                                                            </th>
                                                            <td>
                                                                <marquee style="width:100%" SCROLLDELAY=200>@item.proje_aciklamasi</marquee>
                                                            </td>
                                                        </tr>
                                                    }
                                                    else
                                                    {

                                                        <tr>
                                                            <th>
                                                                @Html.Label("Proje Hakkında Açıklama")
                                                            </th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.proje_aciklamasi)
                                                            </td>
                                                        </tr>
                                                    }
                                                    
                                                 
                                                    @*<tr >
                                                        @if (item.akademisyen != null)
                                                        {
                                                            <th>
                                                                @Html.Label("Akademisyen")
                                                            </th>
                                                                <td>

                                                                    @Html.DisplayFor(modelItem => item.akademisyen.akademisyen_adi)

                                                                    @Html.ActionLink("Akademisyen Bilgileri", "Details", "akademisyens", new { id = item.akademisyen.akademisyen_id })

                                                                </td>
                                                        }
                                                    </tr>
                                                    <tr>
                                                        @if (item.bolum != null)
                                                        {
                                                            <th>
                                                                @Html.Label("Bolum Bilgileri")
                                                            </th>



                                                                <td>
                                                                    @Html.ActionLink("Bolum Bilgileri", "Details", "bolums", new { id = item.bolum.bolum_id })

                                                                </td>
                                                        }
                                                    </tr>*@
                                                    <tr>
                                                        <td colspan="2">
                                                        
                                                        @{
                                                            @*List<projeoneritakipsistemi.Models.begenme> a = item.begenmes.ElementAtOrDefault(x => x.begenenid == User.Identity.GetUserName() && x.projeid == item.proje_id && x.begenmedurumu == "begendi").ToList();
                                                            if (a.Count== 0)
                                                            {
                                                               <input type="button" id="@item.proje_id" value="+1" />
                                                            }*@



                                                            //List<projeoneritakipsistemi.Models.begenme> begendimmi = item.begenmes.Where(x => x.projeid == item.proje_id).ToList();

                                                            //projeoneritakipsistemi.Models.begenme yenibegen = item.begenmes.Where(x => x.projeid == item.proje_id).LastOrDefault();
                                                            //Console.Write(yenibegen);



                                                            <input  type="button"  id="@item.proje_id"  value= "+1" />
                                                        }

                                                        
                                                        
                                                        <input  type="button" id="@item.proje_id" value="0" />&nbsp;&nbsp;
                                                        
                                                            @{
                                                                @*List<projeoneritakipsistemi.Models.begenme> aa = item.begenmes.Where(x => x.begenenid == User.Identity.GetUserName() && x.projeid == item.proje_id && x.begenmedurumu == "begenmedi").ToList();
                                                                if (aa.Count == 0)
                                                                {
                                                                    <input type="button" id="@item.proje_id" value="-1" />
                                                                }*@

                                                                <input type="button"  id="@item.proje_id" value="-1" />
                                                            }
                                                        
                                                           <img id="@item.proje_id" class="begenmeloader" hidden width="20" height="20" src="~/gif/loader.gif" />
                                                          
                                                        <label id="@item.proje_id" value="@item.proje_begeni_sayisi">Toplam begeni:@item.proje_begeni_sayisi&nbsp;&nbsp;&nbsp;siz:<img src="~/resimler/kararsızım.jpg" width="30" height="30" /></label>
                                                            
                                                        </td>

                                                        
                                                    </tr>
                                               
                                                    <tr>
                                                        <td colspan="2">
                                                            
                                                            <label style="font-weight:bold">Proje Hakkındaki Yorumunuzu Giriniz </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        
                                                        <td colspan="2">
                                                            <input style="width:240px" type="text" placeholder="Proje Hakkındaki Yorumunuzu giriniz" id="@item.proje_id"/>
                                                          
                                                        </td>   
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" >
                                                            <label value="@item.proje_id" id="projem" >Sisteme Son Eklediginiz Yorumlar</label>
                                                            <div style="width:100%;height:150px;overflow:auto;max-height:150px;margin-left:0px;overflow-wrap:break-word">
                                                             

                                                            <ol class="@item.proje_id.ToString()" style="overflow:auto">
                                                               
                                                            </ol>
                                                            </div>
                                                        </td>
                                                       

                                                    </tr>


                                                    @*<tr>
                                                        <th>
                                                            @Html.ActionLink("Düzenle", "Edit", new { id = item.proje_id }) |
                                                            @Html.ActionLink("Detay", "Details", new { id = item.proje_id }) |
                                                            @Html.ActionLink("Sil", "Delete", new { id = item.proje_id })
                                                        </th>

                                                    </tr>*@
                                                  

                                                    <tr>
                                                       
                                                        <td colspan="2">
                                                            <p ></p>
                                                        
                                                            <button  id="@item.proje_id" value="goster">tüm yorumları görüntüle</button><button value="gizle" id="@item.proje_id">Gizle</button>
                                                            <div value="@item.proje_id" style="visibility:hidden;width:100%;height:400px;overflow:auto;max-height:400px;margin-left:0px;overflow-wrap:break-word;max-width:300px">
                                                                <ol id="tüm" value="@item.proje_id" style="overflow:auto">

                                                                </ol>
                                                                 

                                                            </div>
                                                        </td>
                                                       
                                                    </tr>
                                                    
                                             



                                                </table>
                                            </div>
                                        </td >
                                    }

                                    else
                                    {
                                        <td>
                                            @Html.ActionLink("İlerle", "devam", new { id = item.proje_id }, new { @class = "ileriicon" })
                                            
                                        </td>
                                        break;
                                    }


                                }

                            }


                        </tr>
                    </table>

                </div>
            </td>
        </tr>
    </table>



    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script type="text/javascript">



        window.scroll(0, 0);
        $("#arama1").focus();

        var username = $("body").attr("id");

        $(document).ready(function () {


            $("ol").each(function () {
                var id = $(this).attr("class");
                var username = $("body").attr("id");

                if (username != "") {

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ben", "projes")', //"../Map/Search"
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ "projeid": id, "kullanici": username }),
                        dataType: "json",
                        error: function (q, status, err) { console.log(q, status, err); },
                        success: function (data) {

                            $("." + id).empty();

                            $.each(data, function (index, value) {

                                $("." + id).prepend("<li style=' border-top: 1px solid black ;padding: .3em 0;'><p>" + value.yorum_icerigi + "<p><a href='/yorums/Edit/" + value.yorum_id + "' ><input type='button' value='Düzenle' id='" + value.yorum_id + "'/></a><a href='/yorums/Delete/" + value.yorum_id + "' ><input type='button' value='Sil' id='" + value.yorum_id + "'/></a></li>");

                            });

                        }
                    });

                }




            });



            $(document).ready(function () {

                var username = $("body").attr("id");
                if (username == "") {
                    $("input[value='+1']").show();
                    $("input[value='-1']").show();
                    $("input[value='0']").hide();
                    $("label[id='" + id + "']").text("Toplam Begeni:" + $("label[id='" + id + "']").attr("value") + "   Siz:").append("<img src='../resimler/kararsızım.jpg' width='30' height='30'></img>");

                }
                else {
                    $("input[value='+1']").each(function () {
                        var id = $(this).attr("id");

                        $("img[class='begenmeloader'][id='" + id + "']").show();
                        $("input[value='+1']").show();
                        $("input[value='-1']").show();
                        $("input[value='0']").hide();
                        $("label[id='" + id + "']").text("Toplam Begeni:" + $("label[id='" + id + "']").attr("value") + "   Siz:").append("<img src='../resimler/kararsızım.jpg' width='30' height='30'></img>");

                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("butonlar", "projes")', //"../Map/Search"
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify({ "projeid": id, "kullanici": username }),
                            dataType: "json",
                            error: function (q, status, err) { console.log(q, status, err); },
                            success: function (data) {

                                $.each(data, function (index, value) {



                                    if (value.begenmedurumu == "begendi") {
                                        $("input[value='+1'][id='"+value.projeid+"']").hide();
                                        $("input[value='-1'][id='" + value.projeid + "']").show();
                                        $("input[value='0'][id='" + value.projeid + "']").show();
                                        $("label[id='" + id + "']").text("Toplam Begeni:" + $("label[id='" + id + "']").attr("value") + "   Siz:").append("<img src='../resimler/ok.jpg' width='30' height='30'></img>");
                                    }
                                    else if (value.begenmedurumu == "begenmedi") {
                                        $("input[value='+1'][id='" + value.projeid + "']").show();
                                        $("input[value='-1'][id='" + value.projeid + "']").hide();
                                        $("input[value='0'][id='" + value.projeid + "']").show();
                                        $("label[id='" + id + "']").text("Toplam Begeni:" + $("label[id='" + id + "']").attr("value") + "   Siz:").append("<img src='../resimler/red.jpg' width='30' height='30'></img>");
                                    }

                                   

                                });
                                $("img[class='begenmeloader'][id='" + id + "']").hide();
                            }
                        });
                    });

                }



            });


        $("#arama1").keyup(function () {

            $("#yorumloader").show();
            var user = $("body").attr("id");
            var prj = $("#arama1").val();
            var aramaturu = $("#neyegore").val();
            if (prj == "") {

                window.location = "/projes/projearama";
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("arama", "projes")', //"../Map/Search"
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ "projeadi": prj , "projeturu":aramaturu}),
                dataType: "json",
                error: function (q, status, err) { console.log(q, status, err); },
                success: function (data) {

                    var table = "";
                    table = "<table id='deneme' border=1 ><tbody><tr><td><a href='/Projes/projearama'>AnaSayfa</a></td></tr><tr>";
                    var i = 0;
                    $("#yorumloader").hide();
                    $.each(data, function (index, value) {
                        //alert("deneme");

                        if (i % 3 == 0) {

                            table += "</tr><tr><td style='min-width:480px;max-width:480px'>";
                        } else {
                            table += "<td style='min-width:480px;max-width:480px' > ";
                            }

                        console.log(value);
                        table += "<table class='table'>";
                        table += "<tr ><td></td><th><a href='/Projes/Details/"+value.proje_id+"'>Proje Hakkında Detaylı Bilgi</a></th></tr>";
                        if (value.proje_adi != null) {

                            table += "<tr ><th>Proje Adi:</th><td>" + value.proje_adi + "</td></tr>";
                        }
                        if (value.proje_yayin_tarihi != null) {

                            var dateString = value.proje_yayin_tarihi.substr(6);
                            var currentTime = new Date(parseInt(dateString));
                            var month = currentTime.getMonth() + 1;
                            var day = currentTime.getDate();
                            var year = currentTime.getFullYear();
                            var date = day + "/" + month + "/" + year;



                            table += "<tr ><th >Proje Yayınlanma Tarihi:</th><td>" + date + "</td></tr>";
                        }

                        if (value.proje_teslim_tarihi != null) {

                            var dateString = value.proje_teslim_tarihi.substr(6);
                            var currentTime = new Date(parseInt(dateString));
                            var month = currentTime.getMonth() + 1;
                            var day = currentTime.getDate();
                            var year = currentTime.getFullYear();
                            var date = day + "/" + month + "/" + year;



                            table += "<tr ><th >Proje Son Teslim Tarihi:</th><td>" +date + "</td></tr>";
                        }

                      
                        if (value.proje_id != null) {

                         
                            table += "<tr ><th >Begeni Durumu:</th><td><button id='" + value.proje_id + "' value='begendim'><img src='../resimler/ok.jpg' width='30' height='30'></img></button><button id='" + value.proje_id + "' value='vazgectim' ><img src='../resimler/kararsızım.jpg' width='30' height='30'></img></button> <button id='" + value.proje_id + "' value='begenmedim'><img src='../resimler/red.jpg' width='30' height='30'></img></button>  <img id='"+value.proje_id+"' class='begenmeloader' width='20' height='20' hidden src='../gif/loader.gif' /> <label id='" + value.proje_id + "'  value='" + value.proje_begeni_sayisi + "'> Begeni Sayısı:" + value.proje_begeni_sayisi + "</label></td></tr>";
                        }

                        table += "<tr><td>  <input style='width:240px' type='text' placeholder='Proje Hakkındaki Yorumunuzu giriniz' id="+value.proje_id+"/></td></tr>";

                        if (value.proje_durumu != null) {

                            table += "<tr><th>proje durumu:</th><td>" + value.proje_durumu + "</td></tr>";
                        }
                        if (value.proje_aciklamasi != null) {
                            table += "<tr ><th >Proje Hakkında Açıklama :</th><td>" + value.proje_aciklamasi + "</td></tr>";
                        }
                        if (value.proje_turu != null) {
                            table += "<tr ><th >Proje Türü</th><td>" + value.proje_turu + "</td></tr>";

                        }
                        if (value.proje_kisi_siniri != null) {
                            table += "<tr ><th >Kişi Sınırı</th><td>" + value.proje_kisi_siniri + "</td></tr>";
                        }


                        var a = value.proje_id;
                        //alert(a);
                        if (a != null) {

                            table += "<tr ><td></td><th><a href='Details/" + a + "'>Detay</a> |";
                            table += "<a href='Edit/" + a + "'>Düzenle</a> |";
                            table += "<a href='Delete/" + a + "'>Sil</a>  </th></tr>";
                        }

                        table += "</table></td>";

                        i++;
                    });
                    table += "</tbody></table>";
                    $("#myData").html(table);


                        if (user == "" || user == null) {
                            $("button[value='begendim']").each(function () {
                                var id = $(this).attr("id");
                                $("button[value='begendim']").show();
                                $("button[value='begenmedim']").show();
                                $("button[value='vazgectim']").hide();
                                $("label[id='" + id + "']").text("Toplam Begeni:" + $("label[id='" + id + "']").attr("value") + "   Siz:").append("<img src='../resimler/kararsızım.jpg' width='30' height='30'></img>");
                            });

                        }

                        else {
                            $("button[value='begendim']").each(function () {

                                var id = $(this).attr("id");
                                $("img[class='begenmeloader'][id='" + id + "']").show();
                                $("button[value='begendim'][id='"+ id +"']").show();
                                $("button[value='begenmedim'][id='" + id + "']").show();
                                $("button[value='vazgectim'][id='" + id + "']").hide();
                                $("label[id='" + id + "']").text("Toplam Begeni:" + $("label[id='" + id + "']").attr("value") + "   Siz:").append("<img src='../resimler/kararsızım.jpg' width='30' height='30'></img>");
                               

                                $.ajax({
                                    
                                    type: "POST",
                                    url: '@Url.Action("butonlar", "projes")', //"../Map/Search"
                                    contentType: "application/json; charset=utf-8",
                                    data: JSON.stringify({ "projeid": id, "kullanici": user }),
                                    dataType: "json",
                                    error: function (q, status, err) { console.log(q, status, err); },
                                    success: function (data) {
                                        $("img[class='begenmeloader'][id='" + id + "']").hide();
                                        $.each(data, function (index, value) {
                                           
                                            if (value.begenmedurumu == "begendi") {
                                                $("button[value='begendim'][id='" + value.projeid + "']").hide();
                                                $("button[value='begenmedim'][id='" + value.projeid + "']").show();
                                                $("button[value='vazgectim'][id='" + value.projeid + "']").show();
                                                $("label[id='" + value.projeid + "']").text("Toplam Begeni:" + $("label[id='" + value.projeid + "']").attr("value") + "   Siz:").append("<img src='../resimler/ok.jpg' width='30' height='30'></img>");
                                            }
                                            else if (value.begenmedurumu == "begenmedi") {
                                                $("button[value='begendim'][id='" + value.projeid + "']").show();
                                                $("button[value='begenmedim'][id='" + value.projeid + "']").hide();
                                                $("button[value='vazgectim'][id='" + value.projeid + "']").show();
                                                $("label[id='" + value.projeid + "']").text("Toplam Begeni:" + $("label[id='" + value.projeid + "']").attr("value") + "   Siz:").append("<img src='../resimler/red.jpg' width='30' height='30'></img>");
                                            }
                                           
                                        });
                                        
                                    }
                                });

                               
                            });
                        }



                    $("button[value='begendim']").click(function () {
                        var prj = $(this).attr("id");


                        var username = $("body").attr("id");


                        if (username == "") {
                            alert("projeyi begene bilmek İçin Giriş Yapmalısınız...Lütfen Bekleyin Giriş sayfasına Yönlendirileceksiniz...");
                            window.location = "/Account/Login";
                        }



                        else {
                            $("img[class='begenmeloader'][id='" + prj + "']").show();

                            $("button[value='begendim'][id='" + prj + "']").hide();
                            $("button[value='begenmedim'][id='" + prj + "']").show();
                            $("button[value='vazgectim'][id='" + prj + "']").show();

                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("begen", "projes")', //"../Map/Search"
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify({ "projeid": prj, "kullanici": username }),
                                dataType: "json",
                                error: function (q, status, err) { console.log(q, status, err); },
                                success: function (data) {
                                    $("img[class='begenmeloader'][id='" + prj + "']").hide();
                                    $.each(data, function (index, value) {
                                       
                                        $("button[value='begendim'][id='" + value.proje_id + "']").hide();
                                        $("button[value='begenmedim'][id='" + value.proje_id + "']").show();
                                        $("button[value='vazgectim'][id='" + value.proje_id + "']").show();
                                        $("label[id='" + value.proje_id + "']").text("Toplam Begeni: " + value.proje_begeni_sayisi).append("<img src='../resimler/ok.jpg' width='30' height='30'></img>");
                                       
                                        
                                    });

                                }

                            });

                        }

                    });

                    $("button[value='vazgectim']").click(function () {
                        var prj = $(this).attr("id");

                        var username = $("body").attr("id");


                        if (username == "") {
                            alert("projeyi begene bilmek İçin Giriş Yapmalısınız...Lütfen Bekleyin Giriş sayfasına Yönlendirileceksiniz...");
                            window.location = "/Account/Login";
                        }

                        else {
                            $("img[class='begenmeloader'][id='" + prj + "']").show();

                            $("button[value='vazgectim'][id='" + prj + "']").hide();
                            $("button[value='begendim'][id='" + prj + "']").show();
                            $("button[value='begenmedim'][id='" + prj + "']").show();
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("vazgec", "projes")', //"../Map/Search"
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify({ "projeid": prj, "kullanici": username }),
                                dataType: "json",
                                error: function (q, status, err) { console.log(q, status, err); },
                                success: function (data) {
                                    $("img[class='begenmeloader'][id='" + prj + "']").hide();
                                    $.each(data, function (index, value) {

                                        $("button[value='vazgectim'][id='" + value.proje_id + "']").hide();
                                        $("button[value='begendim'][id='" + value.proje_id + "']").show();
                                        $("button[value='begenmedim'][id='" + value.proje_id + "']").show();
                                        $("label[id='" + value.proje_id + "']").text("Toplam Begeni:" + value.proje_begeni_sayisi + "   Siz:").append("<img src='../resimler/kararsızım.jpg' value='vazgectim'  width='30' height='30'></img>");

                                    });

                                }

                            });

                        }

                    });

                    $("button[value='begenmedim']").click(function () {


                        var prj = $(this).attr("id");

                      
                        var username = $("body").attr("id");


                        if (username == "") {
                            alert("projeyi begene bilmek İçin Giriş Yapmalısınız...Lütfen Bekleyin Giriş sayfasına Yönlendirileceksiniz...");
                            window.location = "/Account/Login";
                        }

                        else {
                            $("img[class='begenmeloader'][id='" + prj + "']").show();
                            $("button[value='vazgectim'][id='" + prj + "']").show();
                            $("button[value='begendim'][id='" + prj + "']").show();
                            $("button[value='begenmedim'][id='" + prj + "']").hide();
                           $.ajax({
                                    type: "POST",
                                    url: '@Url.Action("begenmedim", "projes")', //"../Map/Search"
                                    contentType: "application/json; charset=utf-8",
                                    data: JSON.stringify({ "projeid": prj, "kullanici": username }),
                                    dataType: "json",
                                    error: function (q, status, err) { console.log(q, status, err); },
                                    success: function (data) {
                                    $("img[class='begenmeloader'][id='" + prj + "']").hide();
                                    $.each(data, function (index, value) {

                                            $("button[value='vazgectim'][id='" + value.proje_id + "']").show();
                                            $("button[value='begendim'][id='" + value.proje_id + "']").show();
                                            $("button[value='begenmedim'][id='" + value.proje_id + "']").hide();
                                            $("label[id='" + value.proje_id + "']").text("Toplam Begeni: " + value.proje_begeni_sayisi).append("<img src='../resimler/red.jpg' width='30' height='30'></img>");
                                            //alert(value.proje_begeni_sayisi);

                           
                                var r = confirm("Bu Projeyi Neden Begenmediginizi Bize Bildirmek İstermisiniz..");

                                if (r == true) {
                                    var yazilan = prompt("Lütfen Begenmeme Sebebinizi Açıkca Yazarmısınız ...");
                                    if (yazilan != null) {

                                        $(".loader").fadeIn();
                                        $.ajax({
                                            type: "POST",
                                            url: '@Url.Action("begenmemesebebi", "projes")', //"../Map/Search"
                                            contentType: "application/json; charset=utf-8",
                                            data: JSON.stringify({ "projeid": value.proje_id, "kullanici": username, "yorum": yazilan }),
                                            dataType: "json",
                                            error: function (q, status, err) { console.log(q, status, err); },
                                            success: function (data) {
                                                $(".loader").fadeOut("slow");
                                                alert("Bizi Uyardıgınız için teşekkurler");
                                                $.each(data, function (index, value) {

                                                });


                                            }
                                        });
                                    }


                                } else {

                                }




                            });

                        }

                         });
                        }

                    });





                    }
            });

        });


            $("input:text[placeholder='Proje Hakkındaki Yorumunuzu giriniz']").keypress(function (event) {
          if (event.keyCode == 13) {
              var yorumum = $(this).val();
              $(this).val("");
              var id = $(this).attr("id");
              if (yorumum == "") {
                  alert("Yorumunuz Boş olamaz");
              }
              var username = $("body").attr("id");


              if (username == "") {
                  alert("Yorum Yapabilmek İçin Giriş Yapmalısınız...Lütfen Bekleyin Giriş sayfasına Yönlendirileceksiniz...");
                  window.location = "/Account/Login";
              }
              if (username != "") {
                  alert("Hoş Geldiniz Yorumunuz Başarılı Şekilde Oluşturuldu:" + username);


                  var kontrol = 0;

                  $.ajax({
                      type: "POST",
                      url: '@Url.Action("yorumyap", "projes")', //"../Map/Search"
                      contentType: "application/json; charset=utf-8",
                      data: JSON.stringify({ "projeid": id, "kullanici": username, "yorum": yorumum }),
                      dataType: "json",
                      error: function (q, status, err) { console.log(q, status, err); },
                      success: function (data) {

                          $("." + id).empty();
                          $("button[id='"+id+"'][value='goster']").trigger("click");

                          $.each(data, function (index, value) {
                              if (kontrol == 0) {
                                  kontrol = 0;
                                  $("." + id).prepend("<li style=' border-top: 1px solid black ;padding: .3em 0;'><p>" + value.yorum_icerigi+ "<p><a href='/yorums/Edit/" +value.yorum_id + "' ><input type='button' value='Düzenle' id='" + value.yorum_id + "'/></a><a href='/yorums/Delete/" + value.yorum_id + "' ><input type='button' value='Sil' id='" + value.yorum_id + "'/></a></li>");
                              }
                          });


                      }
                  });

              }
          }

      });



            $("button[value='gizle']").click(function () {



                $("button[value='gizle']").each(function () {
                    var prj = $(this).attr("id");
                    $("div[value='" + prj + "'").css("visibility", "hidden");

                });



                window.scrollTo(0, 0);

            });




            $("input[value='+1']").click(function () {



           var prj = $(this).attr("id");
           $("input[value='+1'][id='" + prj + "']").hide();
           $("input[value='-1'][id='" + prj + "']").show();
           $("input[value='0'][id='" + prj + "']").show();
           var username = $("body").attr("id");


           if (username == "") {
               alert("projeyi begene bilmek İçin Giriş Yapmalısınız...Lütfen Bekleyin Giriş sayfasına Yönlendirileceksiniz...");
               window.location = "/Account/Login";
           }

           else {
               $("img[class='begenmeloader'][id='" + prj + "']").show();

               $.ajax({
                   type: "POST",
                   url: '@Url.Action("begen", "projes")', //"../Map/Search"
                   contentType: "application/json; charset=utf-8",
                   data: JSON.stringify({ "projeid": prj,"kullanici":username}),
                   dataType: "json",
                   error: function (q, status, err) { console.log(q, status, err); },
                   success: function (data) {
                       $(".loader").fadeOut("slow");
                       $.each(data, function (index, value) {


                           //$("input[value='+1'][id='" + prj + "']").hide();
                           //$("input[value='-1'][id='" + prj + "']").show();
                           //$("input[value='0'][id='" + prj + "']").show();
                           $("label[id='" + prj + "']").text("Toplam Begeni:" + value.proje_begeni_sayisi+"   Siz:").append("<img src='../resimler/ok.jpg' width='30' height='30'></img>");

                           $("img[class='begenmeloader'][id='" + prj + "']").hide();
                       });


                   }

               });

           }

       });

            $("input[value='0']").click(function () {

                var prj = $(this).attr("id");
                $("input[value='+1'][id='" + prj + "']").show();
                $("input[value='-1'][id='" + prj + "']").show();
                $("input[value='0'][id='" + prj + "']").hide();
                var username = $("body").attr("id");


                if (username == "") {
                    alert("projeyi begene bilmek İçin Giriş Yapmalısınız...Lütfen Bekleyin Giriş sayfasına Yönlendirileceksiniz...");
                    window.location = "/Account/Login";
                }

                else {
                    $("img[class='begenmeloader'][id='" + prj + "']").show();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("vazgec", "projes")', //"../Map/Search"
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ "projeid": prj, "kullanici": username }),
                        dataType: "json",
                        error: function (q, status, err) { console.log(q, status, err); },
                        success: function (data) {
                            $(".loader").fadeOut("slow");
                            $.each(data, function (index, value) {


                                //$("input[value='+1'][id='" + prj + "']").show();
                                //$("input[value='-1'][id='" + prj + "']").show();
                                //$("input[value='0'][id='" + prj + "']").hide();
                                $("label[id='" + prj + "']").text("Toplam Begeni:" + value.proje_begeni_sayisi+"   Siz").append("<img src='../resimler/kararsızım.jpg' width='30' height='30'></img>");
                                $("img[class='begenmeloader'][id='" + prj + "']").hide();
                            });

                        }

                    });

                }

            });



            $("input[value='-1']").click(function () {

                var prj = $(this).attr("id");
                $("input[value='+1'][id='" + prj + "']").show();
                $("input[value='-1'][id='" + prj + "']").hide();
                $("input[value='0'][id='" + prj + "']").show();
                var username = $("body").attr("id");


                if (username == "") {
                    alert("projeyi begene bilmek İçin Giriş Yapmalısınız...Lütfen Bekleyin Giriş sayfasına Yönlendirileceksiniz...");
                    window.location = "/Account/Login";
                }

                else {
                    $("img[class='begenmeloader'][id='" + prj + "']").show();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("begenmedim", "projes")', //"../Map/Search"
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ "projeid": prj, "kullanici": username }),
                        dataType: "json",
                        error: function (q, status, err) { console.log(q, status, err); },
                        success: function (data) {
                            $(".loader").fadeOut("slow");
                            $.each(data, function (index, value) {
                                //$("input[value='+1'][id='" + prj + "']").show();
                                //$("input[value='-1'][id='" + prj + "']").hide();
                                //$("input[value='0'][id='" + prj + "']").show();
                                $("label[id='" + prj + "']").text("Toplam Begeni: " + value.proje_begeni_sayisi + "   Siz:").append("<img src='../resimler/red.jpg' width='30' height='30'></img>")
                                //alert(value.proje_begeni_sayisi);

                                $("img[class='begenmeloader'][id='" + prj + "']").hide();
                            });

                        }

                    });

                }

            });



      $("button[value='goster']").click(function () {
          $(".loader").fadeIn();
          var username = $("body").attr("id");
          var prj = $(this).attr("id");
          $("div[value='" + prj + "'").css("visibility", "visible");


          $.ajax({
              type: "POST",
              url: '@Url.Action("yorumlar", "projes")', //"../Map/Search"
              contentType: "application/json; charset=utf-8",
              data: JSON.stringify({ "projeid": prj}),
              dataType: "json",
              error: function (q, status, err) { console.log(q, status, err); },
              success: function (data) {

                  $(".loader").fadeOut("slow");
                  if (data.length == 0) {

                      var r = confirm("Bu Proje Hakkında Hiç Yorum Yapılmamış İlk yorumu Yapmaya ne dersiniz..");



                      if (r == true) {

                          if (username == "") {
                              alert("Yorum Yapabilmek İçin Giriş Yapmalısınız...Lütfen Bekleyin Giriş sayfasına Yönlendirileceksiniz...");
                              window.location = "/Account/Login";
                          }

                          var yazilan = prompt("Lütfen Aşagıya Proje Hakkındaki İlk Yorumu Giriniz...");
                          if (yazilan !=null) {
                              $.ajax({
                                  type: "POST",
                                  url: '@Url.Action("yorumyap", "projes")', //"../Map/Search"
                                  contentType: "application/json; charset=utf-8",
                                  data: JSON.stringify({ "projeid": prj, "kullanici": username, "yorum": yazilan }),
                                  dataType: "json",
                                  error: function (q, status, err) { console.log(q, status, err); },
                                  success: function (data) {
                                      window.location.reload();
                                      $("." + id).empty();
                                      $("button[id='" + id + "'][value='goster']").trigger("click");

                                      $.each(data, function (index, value) {
                                          if (kontrol == 0) {
                                              kontrol = 0;
                                              $("." + id).prepend("<li style=' border-top: 1px solid black ;padding: .3em 0;'><p>" + value.yorum_icerigi + "<p><a href='/yorums/Edit/" + value.yorum_id + "' ><input type='button' value='Düzenle' id='" + value.yorum_id + "'/></a><a href='/yorums/Delete/" + value.yorum_id + "' ><input type='button' value='Sil' id='" + value.yorum_id + "'/></a></li>");
                                          }
                                      });


                                  }
                              });
                          }


                      } else {

                      }
                  }
                  else {
                      window.scrollTo(100, 1000);
                  }


                  $("ol[value='" + prj + "']").empty();

                  $.each(data, function (index, value) {






                      var ekle = "<li style=' border-top: 1px solid black ;padding: .3em 0;'><p style='font-weight:bold'>" + value.yorumu_yapan_id + "</p><p>:" + value.yorum_icerigi + "</p>";
                      if (username == value.yorumu_yapan_id) {

                          ekle += "<p><a href='/yorums/Edit/" + value.yorum_id + "' ><input type='button' value='Düzenle' id='" + value.yorum_id + "'/></a><a href='/yorums/Delete/" + value.yorum_id + "' ><input type='button' value='Sil' id='" + value.yorum_id + "'/></a></p>";

                      }
                      ekle+="</li>";
                          //alert("deneme");
                      //console.log(value);
                      $("ol[value='" + prj + "']").prepend(ekle);


                  });

              }
          });

      });
  });
    </script>




</body>





